[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = git@github.com:themefisher/airspace-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/yurachud/yurachud.github.io.git
[submodule "release"]
	path = release
	url = https://github.com/yurachud/yurachud.github.io.git
